Babel==2.12.1
Flask
Flask-Babel
Flask-Migrate
Flask-SQLAlchemy
Flask-CeleryExt
flask-session
flask-swagger
flask_swagger_ui
translatehtml
APScheduler
langdetect
packaging
LexiLang
expiringdict
torch==2.2.0 --extra-index-url https://download.pytorch.org/whl/cpu
numpy<2
uvicorn
gunicorn
gevent
asgiref
requests
celery
redis
flower
python-dotenv
psycopg
psycopg2-binary
git+https://github.com/LibreTranslate/argos-translate-files.git
argos-translate-files
boto3
httpx
pandas
uuid
smart_open[all]
python-dotenv
slack_sdk
aiohttp